USE [master]
GO
/****** Object:  Database [qlbh]    Script Date: 4/14/2022 7:11:30 PM ******/
CREATE DATABASE bh
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLBH', FILENAME = N'D:\HQT\sqlQLBH.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLBH_log', FILENAME = N'D:\HQT\sqlQLBH.mlf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [qlbh].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bh]
GO
/****** Object:  View [dbo].[vw_EmpDepart]    Script Date: 4/14/2022 7:11:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
/*GO
create view [dbo].[vw_EmpDepart]
as

	SELECT      M_Department.DepartmentID, M_Department.Name, M_Department.GroupName, M_Employees.EmployeeID, M_Employees.Firstname, M_Employees.MiddleName, M_Employees.LastName
FROM            M_Department INNER JOIN
                M_Employees ON M_Department.DepartmentID = M_Employees.DepartmentID
GO */
/****** Object:  Table [dbo].[CHITIETDATHANG]    Script Date: 4/14/2022 7:11:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDATHANG](
	[SOHOADON] [int] NOT NULL,
	[MAHANG] [int] NOT NULL,
	[GIABAN] [float] NULL,
	[SOLUONG] [int] NULL,
	[MUCGIAMGIA] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONDATHANG]    Script Date: 4/14/2022 7:11:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONDATHANG](
	[SOHOADON] [int] NOT NULL,
	[MAKHACHHANG] [int] NULL,
	[MANHANVIEN] [int] NULL,
	[NGAYDATHANG] [date] NULL,
	[NGAYGIAOHANG] [date] NULL,
	[NGAYCHUYENHANG] [date] NULL,
	[NOIGIAOHANG] [nvarchar](50) NULL,
 CONSTRAINT [pk_dondathang] PRIMARY KEY CLUSTERED 
(
	[SOHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 4/14/2022 7:11:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKHACHHANG] [int] NOT NULL,
	[TENCONGTY] [nvarchar](50) NULL,
	[TENGIAODICH] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[DIENTHOAI] [nchar](10) NULL,
	[FAX] [char](10) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIHANG]    Script Date: 4/14/2022 7:11:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIHANG](
	[MALOAIHANG] [int] NOT NULL,
	[TENLOAIHANG] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAIHANG] PRIMARY KEY CLUSTERED 
(
	[MALOAIHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAHANG]    Script Date: 4/14/2022 7:11:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAHANG](
	[MAHANG] [int] NOT NULL,
	[TENHANG] [nvarchar](50) NULL,
	[MACONGTY] [int] NULL,
	[MALOAIHANG] [int] NULL,
	[SOLUONG] [int] NULL,
	[DONVITINH] [nvarchar](50) NULL,
	[GIAHANG] [float] NULL,
 CONSTRAINT [PK_MAHANG] PRIMARY KEY CLUSTERED 
(
	[MAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 4/14/2022 7:11:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MACONGTY] [int] NOT NULL,
	[TENCONGTY] [nvarchar](50) NULL,
	[TENGIAODICH] [nvarchar](50) NULL,
	[MALOAIHANG] [int] NULL,
	[SOLUONG] [int] NULL,
	[DONVITINH] [nvarchar](50) NULL,
	[GIAHANG] [float] NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MACONGTY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 4/14/2022 7:11:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANHANVIEN] [int] NOT NULL,
	[HO] [nvarchar](50) NULL,
	[TEN] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[NGAYLAMVIEC] [date] NULL,
	[DIACHI] [nvarchar](50) NULL,
	[DIENTHOAI] [nchar](10) NULL,
	[LUONGCOBAN] [float] NULL,
	[PHUCAP] [float] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhomSach]    Script Date: 4/14/2022 7:11:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhomSach](
	[maNhom] [int] NOT NULL,
	[tenSach] [nvarchar](20) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIETDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDATHANG_DONDATHANG] FOREIGN KEY([SOHOADON])
REFERENCES [dbo].[DONDATHANG] ([SOHOADON])
GO
ALTER TABLE [dbo].[CHITIETDATHANG] CHECK CONSTRAINT [FK_CHITIETDATHANG_DONDATHANG]
GO
ALTER TABLE [dbo].[CHITIETDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDATHANG_MAHANG] FOREIGN KEY([MAHANG])
REFERENCES [dbo].[MAHANG] ([MAHANG])
GO
ALTER TABLE [dbo].[CHITIETDATHANG] CHECK CONSTRAINT [FK_CHITIETDATHANG_MAHANG]
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONDATHANG_KHACHHANG] FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([MAKHACHHANG])
GO
ALTER TABLE [dbo].[DONDATHANG] CHECK CONSTRAINT [FK_DONDATHANG_KHACHHANG]
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONDATHANG_NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[DONDATHANG] CHECK CONSTRAINT [FK_DONDATHANG_NHANVIEN]
GO
ALTER TABLE [dbo].[MAHANG]  WITH CHECK ADD  CONSTRAINT [FK_MAHANG_LOAIHANG] FOREIGN KEY([MALOAIHANG])
REFERENCES [dbo].[LOAIHANG] ([MALOAIHANG])
GO
ALTER TABLE [dbo].[MAHANG] CHECK CONSTRAINT [FK_MAHANG_LOAIHANG]
GO
ALTER TABLE [dbo].[MAHANG]  WITH CHECK ADD  CONSTRAINT [FK_MAHANG_NHACUNGCAP] FOREIGN KEY([MACONGTY])
REFERENCES [dbo].[NHACUNGCAP] ([MACONGTY])
GO
ALTER TABLE [dbo].[MAHANG] CHECK CONSTRAINT [FK_MAHANG_NHACUNGCAP]
GO
USE [master]
GO
/*
Tạo thiết bị backup có tên BH lưu trong thư muc D:\HQT\Backup\
viết câu lệnh để set csdl bh về chế độ phục hồi là full
*/
backup database bh
to disk = 'D:\HQT\Backup\BH.bak'
-- insert dữ liệu
insert NhanVien values('001', N'Trần Minh', 'Anh','2021-09-05','2022-05-13',N'13 Lê Lợi, Gò Vâp','0345245484',100000,5000)

select * from NHANVIEN
-- sau đó backup differential
backup database bh 
to disk = 'D:\HQT\Backup\BH_driff1.bak' with differential -- mức 1
-- insert 
insert LOAIHANG values ('008', 'Phap van')
insert NhanVien values('009', N'Chu Bao', 'An','2000-09-05','2022-05-13',N'69 Lê Lợi, Gò Vâp','0345245484',190000,9000)
select * from NHANVIEN
select * from LOAIHANG
--BACKUP TIẾP
backup database bh 
to disk = 'D:\HQT\Backup\BH_driff1.bak' with differential -- mức 2
-- insert
insert LOAIHANG values ('009', 'Hoa chat')
-- backup dạng log
backup log bh
to disk = 'D:\HQT\Backup\bh.trn'

use master
drop database bh

use bh
select * from NHANVIEN
select * from LOAIHANG
-- Khoi phuc ve dang full
restore database bh
from disk ='D:\HQT\Backup\bh.bak' with norecovery
--Khoi phuc theo yeu cau
restore database bh
from disk='D:\HQT\Backup\bh_driff1.bak' with recovery, file =2
-- khoi phuc dang log
restore log bh
from disk='D:\HQT\Backup\bh.trn' with recovery 
